
body{
    display:flex;
    justify-content:space-around;
    background-color:url(https://c8.alamy.com/comp/RK451A/snake-ladder-game-template-illustration-RK451A.jpg);

}


.canvas {
    position: absolute;
    margin-bottom:2rem;
    
  
    
}

.square{
    background-color:#eee;
}
