
body{
    display:flex;
    justify-content:space-around;
    background-color: #9fc4a9;

}


.canvas {
    position: absolute;
    margin-bottom:2rem;
    
  
    
}

.square{
    background-color:#eee;
}
