.board {
    position: relative;
    /* margin: 0 auto; */
    border: 2px solid black;
    margin-bottom:2rem;
}


#_switch  {
    position: absolute;
    top: 800px
}

#_w {
    position: absolute;
    top: 900px
}

